.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }

  .manrope-light {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  

body {
    margin: 0;
    padding: 0;
    background-color: beige;
}
  

header {
    background-color: rgb(10,100,164);
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    font-family: Merriweather, serif;
}

h2 {
    color: rgb(43, 128, 43);
    text-align: center;
    
}

#color-schema span {
    font-weight: bold;
    

}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px lightgray;
}

section p {
    margin: 0 0 15px;
    line-height: 1.6;
    color: black;
    text-align: center;
    font-family: Manrope, serif;
}

#scenarios ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    justify-content: center;
}

#wireframe ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

footer {
    background-color: rgb(10, 100, 164);
    color: white !important;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}