*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }

body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "left right"
        "footer footer";
    height: 100vh;
    background-color: aliceblue;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


header {
    background-color: rgb(30, 61, 151);
    color: white;
    grid-area: header;
    padding: 0;
    text-align: center;

}

header h1 {
    margin-bottom: 20px;
    padding-left: 10px;
    margin-top: 10px;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    list-style: none;
    padding: 12px 0;
    margin: 0;
    width: 100%;
}

header nav ul li a {
    color: white;
    font-weight: 100;
    text-decoration: none;
    padding: 10px 15px;
}

header nav ul li a:hover {
    background-color: orange;
}

main {
    display: grid;
    grid-template-columns: 790px 395px;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    grid-template-areas: 
        "left right";
    width: 100%;
    max-width: 1200px;
}

.card {
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0; 
    height: auto;
    overflow: hidden;
}

.about-me-header, .web-header{
    background-color: rgb(30, 61, 151);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.about-me-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding-top: 0;
    margin-top: 0;
    border-bottom: none;
}


.bio {
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}


.bio-image img {
    width: 200px;
    height: auto;
    padding: 10px;
    align-items: center;
}

.utah-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
    text-align: center;
    padding: 10px;
    border-bottom: none;
    margin-top: 0;
    text-decoration: underline;
    padding-top: 0;
    border-top: none;
}

.utah-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.utah-info {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    border-top: none;
    justify-content: center;
    margin-top: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    align-items: center;
    width: 100%;
}

/*.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}*/
.resources {
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-grow: 1;    
}

.resources ul {
    list-style-type: disc;
    padding: 20px;
    text-align: left;
    border-top: 0;
    text-decoration: underline;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 5px;
}